[Desktop Entry]
Name=Setup Web Server
Comment=Script to setup a web server on Raspberry Pi
Exec=lxterminal -e /Home/Pi/setup_web_server.sh
Icon=utilities-terminal
Terminal=false
Type=Application